
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <div class="parallax-box">
    <div class="parallax-about-text">
      <h1>ABOUT BUDDY FINDER</h1>
      <p>Created in order to reunite family members together</p>
    </div>
  </div>
</div>


<% include partials/_footer %>
