
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <div class="parallax-box">
    <div class="parallax-about-text">
      <h1>ABOUT BUDDY FINDER</h1>
      <h2>MAKING THE WORLD A HAPPIER PLACE ONE STEP AT A TIME
      <br>BY REUNITING FURRY LOVED ONES WITH THEIR NOT SO FURRY FAMILIES.</h2>
      <h3>Providing a virtual map for pets, pet owners, and neighbors
      <br>to communicate and restore animals to their rightful homes.</h3>
      <br><h4>Learn more about <a href="https://github.com/OppaKimchee/buddy-finder" target="_blank">Buddy Finder</a></h4>
      <h4>Created by <a href="http://github.com/OppaKimchee" target="_blank">Justin Kim</a>
      and <a href="http://github.com/tinachungshi" target="_blank">Tina Chung</a><h4>
    </div>
  </div>
</div>


<% include partials/_footer %>
