
<% include partials/_header %>
<% include partials/_nav %>

<div class="parallax">
  <div class="parallax-text">
    <h1>BUDDY FINDER</h1>
    <p>Bringing together family members together</p>
  </div>
</div>

<div class="parallax-box"><br>
  <div id="map"></div>
  <script>
  // this view is sent to the browser and then the browser is going to run the script tag b/c the browser runs the html/script page.
  // this is code not running on our server but running from our server.
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 34.0522, lng: -118.2437},
        zoom: 10,
        scrollwheel:false,
        styles:[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
      });
    }
    var icons = {
    	lost: "http://i.imgur.com/HNgeLkV.png",
    	found: "http://i.imgur.com/TPO5AyY.png"
    }

    fetch('http://localhost:3000/api/pets/lost', {method: 'get'
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      data.forEach(function(elem, index) {
        if (index < 150) {
          let longitude = elem.long,
          latitude = elem.lat;

          marker = new google.maps.Marker({
          position: new google.maps.LatLng(latitude, longitude),
          map: map,
          animation: google.maps.Animation.DROP,
          icon: elem.category === 'Lost'? icons.lost : icons.found
        });

        var contentString =
          `<div class="thumbnail">
            <div class="caption">
              <h3>${elem.category} ${elem.type}</h3>
                <p>
   								${elem.street}<br>
  								${elem.city}, ${elem.state}<br>
  								${elem.contact}<br>
  							</p>
              	<img src="${elem.picture}">
              	<a class="btn btn-default" href="/pets/${elem._id}" role="button">Show</a>
            </div>
          </div>`;
        let infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(marker, 'click', (function(marker) {
          return function() {
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
          }
        })(marker));
      }
    })
  });

  </script>

  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfnS36x2Vwqg3SJmJe-rt53pHBtL_ygbM&callback=initMap" defer>
  </script>


</div>












<% include partials/_footer %>
