
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <h3>Show all lost pets</h3>
  <div class="row">
    <% pets.forEach(function(pet, index) { %>
      <% if (pet.category === 'Lost') { %>
        <% include partials/_petdata %>
      <%}%>
    <% }) %>
  </div>
</div>

<% include partials/_footer %>
